<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <!--=========================-->
    <!--NIGHTSHADE DEVICE SCRIPTS-->
    <!--=========================-->
    
    <!--Device Under Test - must be connected via USB-->
    <!--=============================================-->
    <add key="Host1Type" value="Windows_MC65" />
    <add key="Host1Port" value="5900" />
    <add key="Host1Ip" value="169.254.2.1" />
    <add key="Host1DefaultNetwork" value="3G" />
    <add key="Host1EmailAccountNumber" value="01" />
    
    <!--Control Device for paired tests - connect via Wifi-->
    <!--==================================================-->
    <add key="Host2Type" value="Windows_MC65" />
    <add key="Host2Port" value="5900"/>
    <add key="Host2Ip" value="10.10.1.165" />
    <add key="Host2DefaultNetwork" value="3G" />
    <add key="Host2EmailAccountNumber" value="02" />

    <!--Runtime Config Settings-->
    <!--=======================-->
    <add key="DriveTimeoutSec" value="60" />
    <add key="TestTimeoutMin" value="Null" />
    <add key="RecordVideo" value="False" />
    <add key="LogDriveCommands" value="False" />
    <add key="SuitePath" value="C:\Users\Roland Burrows\Documents\GitHub\ProtoTest.Nightshade\Suites\MotorolaMaster.suite" />
    <add key="MouseClickDelay" value="0.2" /> <!--Default is 0.02-->
    <add key="DefaultWifiNetworkName" value="ProtoTest_MOBILE" />
    <add key="DeleteContactsStarting" value="01" />
    <add key="DeleteContactsTotalCount" value="3" />
    <add key="SuiteRepetitions" value="1" />
    <!--<add key="DownloadAppTestPath" value="https://docs.google.com/uc?export=download&id=0B_6bF-EtY8pleHZ1aXdlckpkaEk"/>-->

    
    <!--============================-->
    <!--ATT 15595 Test Repeat Values-->
    <!--============================-->

    <!--Section_5_1_01 - Telephony Stability Tests-->
    <add key="TestThreeGVoiceCallFromContacts#" value="1"/>
    <add key="TestThreeGVoiceCallFromHistory#" value="1"/>
    <add key="TestReceiveVoiceCall#" value="1"/>
    <add key="AddAndDeleteLocalContacts#" value="1"/>
    
    <!--Section_5_1_02 - Messaging Stability Tests-->
    <add key="TestSendThreeGMessageMaxCharacters#" value="1"/>
    <add key="TestSendThreeGMessageAudioAttachment#" value="1"/>
    <add key="TestSendThreeGMessageVideoAttachment#" value="1"/>
    <add key="TestSendThreeGMessageImageAttachment#" value="1"/>
    <add key="TestOpenMessageAudioAttachment#" value="1"/>
    <add key="TestOpenMessageVideoAttachment#" value="1"/>
    <add key="TestOpenMessageImageAttachment#" value="1"/>
    <add key="TestOpenMessageMaxCharacters#" value="1"/>

    <!--Section_5_1_03 - Email Stability Tests-->
    <add key="TestSendThreeGEmailNoAttachment#" value="1"/>
    <add key="TestSendThreeGEmailWithAttachment#" value="1"/>
    <add key="TestOpenAnEmail#" value="1"/>

    <!--Section_5_1_04 - IM Stability Tests-->
    

    <!--Section_5_1_05 - Browser Stability Tests-->
    <add key="TestOpenThreeGNativeBrowserGoToATTHomepage#" value="1"/>
    <add key="TestOpenThreeGNativeBrowserClickOnLink#" value="1"/>
    <add key="TestOpenThreeGNativeBrowserGoToTopWebsites#" value="1"/>

    <!--Section_5_1_06 - Storefront/Download Stability Tests-->
    
    
    <!--Section_5_1_07 - PIM Stability Tests-->
    <add key="TestCalendarAppointments#" value="1"/>
    <add key="TestAlarms#" value="1"/>
    <add key="TestTasks#" value="1"/>

    <!--Section_5_1_08 - Multi-Media Stability Tests-->
    <add key="TestCameraVideo#" value="1"/>
    <add key="TestCameraPictures#" value="1"/>
    <add key="TestOpenAndCloseTheMusicPlayer#" value="1"/>
    <add key="TestPlayingAMusicFile#" value="1"/>
    <add key="TestDeviceThemes#" value="1"/>

    <!--Section_5_1_09 - Multi-tasking Stability Tests-->
    <add key="TestStartPhoneCallSwitchToOtherAppsEndCall#" value="1"/>
    <add key="TestStartBrowserSwitchToOtherAppsCloseBrowser#" value="1"/>

    <!--Section_5_1_10 - Menu Navigation Stability Tests-->
    <add key="TestNavigateToEachDesktopIconUntilMenuTreeCompelted#" value="1"/>

    <!--Section_5_1_11 - Wifi Stability Tests-->
    <add key="TestTurnWifiRadioOffandOn#" value="1"/>
    <add key="TestConnectAndDisconnectToAWifiNetwork#" value="1"/>

    <!--Section_5_1_12 - NFC Stability Tests-->
    <add key="TestTurnNFCRadioOnAndOff#" value="1"/>
    
  </appSettings>
</configuration>