<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="Host1" value="10.10.1.167" />
    <add key="Host2" value="10.10.1.165" />
    <add key="DriveTimeoutSec" value="60" />
    <add key="TestTimeoutMin" value="Null" />
    <add key="DeviceResolution" value="1024x768" />
    <add key="RecordVideo" value="False"/>
    <add key="LogDriveCommands" value="False"/>
  </appSettings>
</configuration>