<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  <add key="Host1" value="10.10.1.1"/>
  <add key="Host2" value="10.10.1.2"/>
  <add key="ElementTimeoutSec" value="20"/>
  <add key="DriveTimeoutSec" value="60"/>
  <add key="TestTimeoutMin" value="Null"/>
  </appSettings>
</configuration>