<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <!--GOLEM WEB SCRIPTS-->

    <add key="Browser" value="Chrome"/>
    <add key="TestTimeoutMin" value="15"/>
    <add key="ElementTimeoutSec" value="5"/>
    <add key="WindowOpenTimeoutSec" value="10"/>
    <add key="PageTimeoutSec" value="30"/>
    <add key="DegreeOfParallelism" value="5"/>
    <add key="CommandDelayMs" value="0"/>

    
    <add key="HotmailEmail" value="motorolatest01@hotmail.com"/>
    <add key="HotmailPassword" value="MotoProtoAuto"/>

    <add key="ContactMasterEmail" value="motorolatest02@hotmail.com"/>
    <add key="ContactMasterPhone" value="7203607214"/>
    <add key="ContactTemplate_FirstName" value="TEST"/>
    <add key="ContactTemplate_Company" value="Motorola"/>
    
  </appSettings>
</configuration>